#highscores-form {
    display: none;
}

#initials {
}
h1 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    text-align: center;
}
#HighScorePage {
    padding: 10px;
    justify-content: center;
}
.nav {
    text-align: center;
}
a {
    margin-left: auto;
    margin-right: auto;
}
#highscores-form {
    text-align: center;
}